PORT=5000
MONGO_URI=mongodb://localhost:27017/shoppyglobe
MONGO_URI_CLOUD=mongodb+srv://akshaydhongade1001:L4Sj8MIGP89ofmfG@cluster0.tzf2nl1.mongodb.net/shoppyglobe
JWT_SECRET=supersecretjwtkey123
NODE_ENV=development